<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyQ0QdiTnGxTZsg80c1y24amxSHv2LKPHtuA&usqp=CAU"
        alt="">
    </div>
    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big-card__description">
        <p>Lorem ipsum rhoncus felis bibendum ut sapien praesent viverra, leo litora sem nisl eros rutrum justo
             condimentum, purus at rutrum fringilla sapien himenaeos sed. placerat curae fusce himenaeos a enim
              elit, vestibulum torquent primis amet id class felis, tempor non aenean porttitor condimentum.
               sit justo torquent condimentum aenean faucibus congue viverra egestas eget elementum posuere eu,
                tempor interdum pellentesque adipiscing aenean praesent interdum donec magna.</p>
    </div>
</div>